<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div class="container mt-4">
        <div id="navber" class="row">
            <div class="col-11"></div>
            <div class="col-1">
                <a href="/"><img src="{% static 'images/mujib_logo.png' %}"alt=""></a>
                
                <div class="btn-group" role="group" aria-label="Basic example">
                {% block dashboardLogout %}{% endblock dashboardLogout %}
                <a class="btn btn-info" href="{% url 'arcives' %}">Archives</a>
                </div>
            </div>
        </div>
        {% block loginform %}{% endblock loginform %}
        {% block registerform %}{% endblock registerform %}
        {% block dashboard %}{% endblock dashboard %}
        {% block national %}{% endblock national %}
        {% block city %}{% endblock city %}
        {% block content %}{% endblock content %}
        {% block logoutContent %}{% endblock logoutContent %}
        {% block ecn_worker_dashboard %}{% endblock ecn_worker_dashboard %}
        {% block arcive %}{% endblock arcive %}
        {% block about %}{% endblock about %}

        <div class="row footer">
            <p>All Rights Reserved © 2000 - 2021. Bangladesh Election Commission || Design by: <a title="" href="/about" >Sakal & Maliha</a>  </p>
        </div>
    </div>

    <!-- BOOSTAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>