{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{userInfo.name}} - Edit
{% endblock title %}


{% block content %}
    <div align="center">
        <img class="rounded-circle" style="height:200px;width:200px;" src = '{{'/media/'}}{{ userInfo.picture }}' alt='{{ pro_pic }}'>
        <h5>{{ userInfo.name }}</h5>
    </div>

    <div id='edit_profile'>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ editInfoForm|crispy }}
            </fieldset>
            <button class="submit form-group btn btn-outline-info">
                Update
            </button>
        </form>
    </div>
{% endblock %}